.title_ {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}
.a-casa {
  width: 30%;
  margin: auto;
  display: block;

}
.online {
  width: 50%;
  margin: auto;
  display: block;
  /* padding-top: 20px; */
}
.sottotitolo{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.didascalia {
  font-size: 16px;
  text-align: center;
  padding-bottom: 5px;
}
.cerca {
  width: 50%;
  margin: auto;
  display: block;
}
.contatta {
  width: 50%;
  margin: auto;
  display: block;
}
.inizia {
  width: 50%;
  margin: auto;
  display: block;
}
.soddisfazione,
.scuola,
.flessibile {
  width: 50%;
  margin: auto;
  display: block;
  background-color: blue;
  border-radius: 260px;
}
